xmls/chocolate.dtd

<|DOCTYPE Chocolate[
         <!ELEMENT chocolate (name, type, cocoa, flavors, units, shape)>
         <!ATTLIST chocolate name CDATA #REQUIRED>
         <!ELEMENT name (#PCDATA)>
         <!ELEMENT type (#PCDATA)>
         <!ELEMENT cocoa (#PCDATA)>
         <!ELEMENT flavors(#PCDATA)>
         <!ELEMENT units (#PCDATA)>
         <!ELEMENT shape (#PCDATA)>
    
]>